*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.nav{
    margin: 0 auto;
    width: 1440px;
    height: 51px;
    
}
.nav1{
    margin: 0 auto;
    text-align: center;
    width: 1440px;
    height: 51px;
    color: #99B6C5;
    background-color: #00486D;
    font-family: DM Sans;
    font-weight: 400px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0%;
    padding-top: 10px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 50px;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
}
.nav2 img{
    width: 130px;
    height: 31px;
    margin-top: 5px;
    padding-right: 10px;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 400px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #00486D;
}
.btn-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 395px;
    height: 59px;
    top: 24px;
    left: 875px;
    gap: 25px;
}
.btn-nav p{
    color: #00486D;
}
.nav-btn{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    width: 234;
    height: 59;
    border-radius: 4px;
    background-color: #00486D;
    color: #FFFFFF;
    padding: 8px;
}
.main1{
    position: relative;
    margin: 0 auto;
    padding-top: 120px;
    width: 1440px;
    height: 753px;
    margin-top: 130px;
    background-color: #d9f1fd;
}
.main-div{
    width: 394px;
    height: 135px;
    top: 155px;
    left: 40px; 
}
.main-div h2{
    font-size: 55px;
    color: #00486D;
    font: DM Serif Text;
    line-height: 67px;
}
.back-img{
    position: absolute;
    top: 0;
    right: 0;
}
.took-img{
    position: absolute;
    top: 10px;
    right: 40px;
}
.mains{
    margin: 80px;
}
.mains h4{
    width: 530px;
    padding-top: 20px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #00486D;
    padding-bottom: 20px;
}
/* bu 2- qismi */
.cards{
    width: 1350px;
    height: 650px;
    margin: 0 auto;
    padding-top: 150px;
}
.card{
    width: 397px;
    height: 442px;
    padding: 50px;
    
}
.card:hover{
    box-shadow: 5px 5px 30px 20px rgba(78, 78, 78, 0.3);
}
.card h5{
    font-family: DM Sans;
font-weight: 400;
font-size: 20px;
line-height: 35px;
letter-spacing: 0%;
padding-top: 20px;
}
.card h4{
    padding-top: 40px;
    font-family: DM Sans;
font-weight: 400;
font-size: 22px;
line-height: 33px;
letter-spacing: 0%;
padding-bottom: 20px;
}
.cards h3{
    font-family: DM Serif Text;
    font-weight: 400px;
    font-size: 44px;
    line-height: 52.8px;
    color: #00486D;

}
.cards h4{
    color: #00486D;
}
.card h5{
    color: #00486D;
}
.box{
    display: flex;
    justify-content: space-between;
}
.card1{
    width: 397px;
    height: 442px;
    
}
.cards1{
    width: 635px;
    height: 152px;
}
.cards1 h4{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0%;

}
.card2{
    width: 397px;
    height: 442px;
}
.card3{
    width: 397px;
    height: 442px;
}
.section-1{
    width: 1270;
    height: 680;
    border-radius: 2px;
    padding-top: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.boxss{
    position: absolute;
    top: 390px;
    right: 320px;
    background-color: #00486D;
    width: 424px;
    height: 491px;
    color: white;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    gap: 20px;
    font-size: 24px;
}
.boxss h2{
    padding-bottom: 20px;
    font-size: 45px;
    font-family: DM Serif Text;
font-weight: 400;
font-size: 35px;
line-height: 42px;
letter-spacing: 0%;

}
.boxss h4{
    padding-bottom:45px;
    font-family: DM Sans;
font-weight: 400;
font-size: 19px;
line-height: 35px;
letter-spacing: 0%;

}
.box-btn{
    color: #00486D;
    background-color: white;
}
/* 4 beti 3-section */
.section-2{
    width: 1270px;
    height: 620px;
    margin: 0 auto;
}
.sec-div{
    display: flex;
    justify-content: space-between;
    width: 1270px;
    height: 300px;
    padding-top: 300px;
    padding-left: 30px;
    align-items: center;
}

.sec-div-text{
    width: 723px;
    height: 103px;
    padding-left: 60px;
}
.sec-div-text h2{
    font-family: DM Serif Text;
    font-weight: 400;
    font-size: 32px;
    line-height: 51.2px;
    letter-spacing: 0%;
    text-align: center;
    color: #00486D;
}
.sec-div-text h4{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    color: #00486D;
}
/* 5-beti */
.section-5{
    width: 1350px;
    height: 618px;
    margin: 0 auto;
    
}
.common{
    display: flex;
    justify-content: space-between;

}

.com{
    width: 395px;
    height: 510px;
}
.com:hover{
    box-shadow: 5px 5px 30px 20px rgb(177, 174, 174);
}  
   
    